
$w2m: #c4d600;
.navbar {
    &__wrapper {
        top: 0;
        margin: 0;
        height: calc(100% + 60px);
        padding-bottom: 60px;
        background-color: white;
        z-index: 999;
        overflow-y: auto;
        will-change: transform;
        backface-visibility: hidden;
        box-shadow: none;
        border-right: 1px solid rgba(0, 0, 0, .14);
        width: 215px;
        left: 0;
        transform: translateX(0);
        position: fixed;
        justify-content: center;
    }

    &__contentLogo {
        background-color: $w2m;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__logo {height: 70px;}

    &__listPrimary {
        line-height: 44px;
    }

    &__listLink {
        color: rgba(0,0,0,0.87);
        display: block;
        width: 100%;
        font-size: 14px;
        font-weight: 500;
        height: 48px;
        line-height: 48px;
        padding: 0 32px;
        font-size: 13px;
        line-height: 44px;
        height: 44px;
        padding: 0 30px;
        &:hover {
            background-color: rgba(0,0,0,0.05);
            }
    }
}

.card_image {
    &__heading {
        font-size: 14px;
        text-align: center;
        line-height: 0;
        margin: 10px 0 20px 0;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__content {
        color: white;
        background: #505759;
        margin: 10px;

        &:hover  {
            .card_image__img {
                -webkit-transform: rotateY(360deg);
                -ms-transform: rotateY(360deg);
                transform: rotateY(360deg);
                -webkit-transition: all .7s;
                transition: all .7s;
            }
        }
    }

    &__img {
        width: 150px;
    }
}

.container {
    &__box {
        background-color: white;
        position: relative;
        margin-top: 50px !important;
        padding: 25px;
        transition: height 1s;
        border-radius: 3px;
        box-shadow: 0 1px 2px rgba(0,0,0,.3);
    }

    &__box-title {
        font-family: 'houschka', Montserrat, sans-serif;
        text-transform: uppercase;
        font-size: 25px;
        color: #5a6264;
        padding-top: 10px;
        padding-bottom: 12px;
        margin: 0;
    }
}

.toast {
    text-align:left;
    padding: 21px 0;
    background-color:white;
    border-radius:4px;
    max-width: 360px;
    top: 0px;
    position:relative;
    box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.2);
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 4px;
        height: 100%;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    &__container {
        position: fixed;
        right: 23px;
        bottom: 23px;
        padding-top: 15px;
        margin-bottom: 0;
        z-index: 999;
    }

    &__cell{
        display: inline-block;
    }

    .add-margin{
        margin-top:20px;
    }

    &__svg{
        fill:#fff;
    }

    &__icon-info {
        position: absolute;
        top: 50%;
        left: 22px;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        padding: 8px;
        border-radius: 50%;
        color: white;
        display: inline-block;
        background-color: #1D72F3;
        &:after {
            background-color: #1D72F3;
        }
    }

    &__type {
        color: #3e3e3e;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 8px;
    }

    &__message {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 0;
        color: #878787;
    }

    &__content{
        padding-left:70px;
        padding-right:60px;
    }

    &__close {
        position: absolute;
        right: 22px;
        top: 50%;
        width: 14px;
        cursor:pointer;
        height: 14px;
        fill:#878787;
        transform: translateY(-50%);
    }

    &--blue {
        &:before{
            background-color:#1D72F3;
          }
        .toast__icon{
            background-color:#1D72F3;
        }
    }
}

.w2m-bg {
    background-color: $w2m;
}

/*======================
   Set Cookies
=======================*/

#cookie-bar {
    font-family: 'Montserrat', sans-serif;
    background: #505759f2;
    display: block;
    position: fixed;
    bottom: 0px;
    left: 0px;
    color: White;
    width: 100%;
    z-index: 999;
    p {
      width: 85%;
      display: inline-block;
      font-size: 13px;
      line-height: 24px;
      color: white;
    }
    button {
      float: right;
      background: transparent;
      border: 1px solid white;
      color: white;
      padding: 15px 20px;
      text-transform: uppercase;
      font-size: 16px;
      margin-top: 12px;
      border-radius: 4px;
    }
    a {
      color: white;
    }
  }
  
  #contentcookie {
    padding: 5px 50px;
    width: 80%;
    margin: auto;
  }
  
  .clear {
    clear: both;
  }
  
  @media (max-width: 767px) {
    #cookie-bar {
      p {
        width: 100%;
        font-size: 14px;
      }
      button {
        width: 100%;
      }
      a {
        color: white;
      }
    }
    #contentcookie {
      padding: 20px 0px;
      width: 90%;
      margin: auto;
    }
  }




// Z-levels
.z-depth-0 {
    box-shadow: none !important;
  }
  
  /* 2dp elevation modified*/
  .z-depth-1 {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
                0 3px 1px -2px rgba(0,0,0,0.12),
                0 1px 5px 0 rgba(0,0,0,0.2);
  }
  .z-depth-1-half {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  }
  /* 6dp elevation modified*/
  .z-depth-2 {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),
                0 1px 10px 0 rgba(0,0,0,0.12),
                0 2px 4px -1px rgba(0,0,0,0.3);
  }
  
  /* 12dp elevation modified*/
  .z-depth-3 {
    box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14),
                0 3px 14px 2px rgba(0,0,0,0.12),
                0 5px 5px -3px rgba(0, 0, 0, 0.2);
  }
  
  /* 16dp elevation */
  .z-depth-4 {
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14),
                0 6px 30px 5px rgba(0,0,0,0.12),
                0 8px 10px -7px rgba(0,0,0,0.2);
  }
  
  /* 24dp elevation */
  .z-depth-5 {
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14),
                0 9px 46px 8px rgba(0,0,0,0.12),
                0 11px 15px -7px rgba(0,0,0,0.2);
  }
  
  
  // usage: color("name_of_color", "type_of_color")
  // to avoid to repeating map-get($colors, ...)
  
  @function box-shadow($shadow, $type) {
      @if map-has-key($shadow, $shadow) {
        $curr_color: map-get($shadow, $shadow);
        @if map-has-key($curr_color, $type) {
          @return map-get($curr_color, $type);
        }
      }
      @warn "Unknown `#{$shadow}` - `#{$type}` in $colors.";
      @return null;
    }